<html>
 <head>
    <title>{{title}} - Simterial</title>
   	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
   	<!-- Custom styles for this template -->
   	<!--link href="starter-template.css" rel="stylesheet"-->
	<link href="theme.css" rel="stylesheet">
 </head>
 <body>
	 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Simterial</a>
	        </div>
	        <div class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li class="active"><a href="index">Demo</a></li>
	            <li><a href="https://docs.google.com/presentation/d/1zePgmB8oqDTIENWMtBAPn_qKeB7l_ss9VgwmdcLRjF4/embed?start=false&loop=false&delayms=30000" frameborder="0" width="960" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"  target="_blank" style="color:white">Slides</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
	<div class="container">
       <h2>Material Name</h2>
       <form action="/return_page" method="GET">
           <input type="text" name="name">
           <input type="submit" name="my-form" value="Send">
       </form>
	   <div id="content">
		   <table>
			   <tr><td>
				<div style=width:100px;height:100px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-align:center;background:#000>{{name}}</div>
			</td>
			 {% if return_val is defined %}
				<td> &nbsp; Similar Materials </td>
			{% else %}
				<td> &nbsp; No available results for similar materials. 
					<br></br>
					&nbsp; Please try a different material.
				
				</td>
			{% endif %}
		</tr>
			</table>
			<p></p>
			 {% if return_val is defined %}
				<table class="table table-hover">
			   	 <tr><th>Material</th><th>Euclidean Distance</th><th>Cosine Similarity</th></tr>
			   	{% for val in return_val %}
			   	<tr><td><a href="/return_page?name={{val['material']}}&my-form=Send">{{ val['material'] }}</a></td><td> {{ val['n_euclid_sprse'] }}</td>
				<td> {{ val['cosine'] }}</td></tr>
			   	{% endfor %}
			   </table>
			{% endif %}
			  
			   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
			   <script src="static/js/bootstrap.min.js"></script>
	   	</div>
	</div>
    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
 </body>
</html>